<!DOCTYPE html>
<html>
<head>
    {% set eventName = app.request.query.get('event', app.translator.trans('Seminar')) %}
    <title>{{ app.translator.trans('Registration for') }} {{ eventName }}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
          integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/event_form.js"></script>
</head>
<body>
<div class="col-lg-4 col-lg-offset-4">
    <div class="panel panel-default ">
        <div class="panel-heading">
            <h3 class="panel-title">{{ app.translator.trans('Registration for') }} {{ eventName }}</h3>
        </div>
        <div class="panel-body">
            <form action="{{ path('events_form_receiver') }}" method="post">
                <div class="input-group">
                    <span class="input-group-addon">{{ app.translator.trans('Client ID') }}</span>
                    <input name="user_id" type="text" class="form-control input-sm"
                           placeholder="{{ app.translator.trans('Client ID or Company name') }}" required>
                </div>
                <br/>

                <div class="input-group">
                    <span class="input-group-addon">{{ app.translator.trans('Name') }}</span>
                    <input name="user_name" type="text" class="form-control input-sm" placeholder="{{ app.translator.trans('Name') }}" required>
                </div>
                <br/>

                <div class="input-group">
                    <span class="input-group-addon">{{ app.translator.trans('Phone') }}</span>
                    <input name="user_phone" type="text" id="phone" class="form-control input-sm"
                           placeholder="{{ app.translator.trans('Contact phone') }}" required>
                </div>
                <br/>

                <div class="input-group">
                    <span class="input-group-addon">{{ app.translator.trans('Email') }}</span>
                    <input name="user_email" type="text" class="form-control input-sm" placeholder="{{ app.translator.trans('Email') }}"
                           value="{{ app.request.query.get('email', '') }}" required>
                </div>
                <input type="hidden" name="event_name" value="{{ eventName }}">
                <input type="hidden" name="incoming_params" value="{{ app.request.uri }}"><br/>
                <button class="btn" onclick="sendForm(); return false;" id="submit_btn">{{ app.translator.trans('Send request') }}</button>
            </form>
        </div>
    </div>

    <div id="modalWindow" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="answer_title"></h4>
                </div>
                <div class="modal-body">
                    <p id="answer_body"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ app.translator.trans('Close') }}</button>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
