{% extends admin_layout %}

{% block content %}

    <div class="col-lg-8 col-lg-offset-2">
        <form class="form-horizontal" method="post" action="{{ path('check_emails_from_file') }}"
              enctype="multipart/form-data">
            <div class="form-group">
                <label for="emails_file" class="col-sm-2 control-label">Файл с адресатами:</label>

                <div class="col-sm-10">
                    <input type="file" name="emails_file" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Продолжить</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
