<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Пожалуйста представьтесь</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
          integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="col-lg-4 col-lg-offset-4">
    <div class="panel panel-default ">
        <div class="panel-heading">
            <h3 class="panel-title">Пожалуйста представьтесь</h3>
        </div>
        <div class="panel-body">
            <form action="{{ path('admin_login_check') }}" method="post">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ app.translator.trans(error) }}
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="exampleInputEmail1">Логин</label>
                    <input type="text" name="_username" value="{{ last_username }}" class="form-control"
                           id="exampleInputEmail1" placeholder="Логин" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Пароль</label>
                    <input type="password" name="_password" class="form-control" id="exampleInputPassword1"
                           placeholder="Пароль"
                           required>
                </div>
                <button type="submit" class="btn btn-default">Войти</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
