{% extends admin_layout %}

{% block content %}
    <script src="//cdn.ckeditor.com/4.5.8/standard-all/ckeditor.js"></script>
    <script src="{{ app.request.basepath }}/js/mass_mail.js"></script>

    <div class="col-lg-8 col-lg-offset-2">
        <form class="form-horizontal" method="post" action="{{ path('send_mail') }}">
            <div class="form-group">
                <label for="from" class="col-sm-2 control-label">От кого:</label>

                <div class="col-sm-10">
                    <select name="from" id="from" class="selectpicker">
                        <option value="none@bitmaster.ru" selected>none@bitmaster.ru</option>
                        <option value="marketing@bitmaster.ru">marketing@bitmaster.ru</option>
                        <option value="gsk@bitmaster.ru">gsk@bitmaster.ru</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="from_manual" class="col-sm-2 control-label">От кого (вручную):</label>

                <div class="col-sm-10">
                    <input type="text" name="from_manual" class="form-control"
                           placeholder="Заменит вышеуказанный из списка" value="{{ form.from_manual }}"
                           id="from_manual">
                </div>
            </div>
            <div class="form-group">
                <label for="subject" class="col-sm-2 control-label">Тема:</label>

                <div class="col-sm-10">
                    <input type="text" name="subject" class="form-control"
                           placeholder="Тема письма" value="{{ form.subject }}" id="subject">
                </div>
            </div>
            <div class="form-group">
                <label for="charset" class="col-sm-2 control-label">Кодировка:</label>

                <div class="col-sm-10">
                    <select name="charset" class="selectpicker" id="charset">
                        <option value="windows-1251" selected>Windows-1251</option>
                        <option value="utf-8">UTF-8</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="message" class="col-sm-2 control-label">Текст письма:</label>

                <div class="col-sm-10">
                    <textarea id="message" name="message">{{ form.message }}</textarea>
                </div>
            </div>
            {% if form.bad_emails is not empty %}
                <div class="form-group has-error">
                    <label for="bad_emails" class="col-sm-2 control-label">Не распознаные адреса:</label>

                    <div class="col-sm-10">
                    <textarea name="bad_emails" class="form-control" rows="10" id="bad_emails">{{ form.bad_emails }}
                </textarea>
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                <label for="emails" class="col-sm-2 control-label">Кому (e-mail адреса):</label>

                <div class="col-sm-10">
                    <textarea name="emails" class="form-control" rows="10"
                              id="emails">{{ form.correct_emails }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Разослать письма</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
