<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('admin') }}"><img alt="БИТ Мастер" src="/favicon.ico"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Массовая расылка <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('manual_mail') }}">Ввести адреса вручную</a></li>
                        <li><a href="{{ path('load_emails_from_file') }}">Загрузить адреса из файла</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('admin_logout') }}">{{ app.user }}, Выйти</a></li>
            </ul>
        </div>
    </div>
</nav>

